{# Portfolio Logic #}

{% set con = content_block %}
{% set portfolio = con.portfolio %}
{% set placeholder_image = theme.link ~ "/build/images/placeholder.png" %}

<section class="container-fluid portfolio">
	<div class="row">
		{% for folio_item in portfolio %}
			{% if folio.link_select == "internal" %}
				{% set link = folio.internal_link %}
				{% set target = "_self" %}
			{% else %}
				{% set link = folio.external_link %}
				{% set target = "_blank" %}
			{% endif %}

			<a href="link" target="{{ target }}" title="{{ caption }}">

				<article class="portfolio-item reveal">

					<figure class="effect-main">
						{% set folio = folio_item.portfolio_items %}
						{% if folio.image %}
							{% set img = folio.image %}
						{% else %}
							{% set img = placeholder_image %}
						{% endif %}
						<img src="{{ img }}" class="img-respond">
						<div class="overlay"></div>
						<figcaption class="caption">
							<h2 class="widont">{{ folio.title }}</h2>
							<p class="small">{{folio.company}} - {{folio.client}}</p>
							<p>{{ folio.caption }}</p>
							<div class="visit-button">VISIT <i class="fa fa-angle-right"></i></div>
						</figcaption>
					</figure>


					{{ folio.internal_link }}
					{{ folio.external_link }}

				</article>
			</a>
		{% endfor %}
</section>
